body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
  }
  
  .team-section {
    text-align: center;
    padding: 50px 25px;
  }
  
  .team-section h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
  }
  
  .team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    padding: 50px ;
  }
  
  .team-member {
    background-color: #dde2d8;
    border-radius: 70% 0% 70% 70%;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .team-member img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
  }
  
  .team-member h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  
  .team-member p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 10px;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  .social-icons a {
    font-size: 1.5rem;
    color: #555;
    text-decoration: none;
  }
  
  .social-icons a:hover {
    color: #1da1f2;
  }
  
  @media (max-width: 768px) {
    .team-grid {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
  }
  